    /* responsive */

    @media only screen

    and (max-width: 1350px) {

        .cards_container{
            /*padding: 0 70px;*/
            flex-wrap: wrap;  
            justify-content: center; 

        }

        .card_item{
            margin: 0 30px 30px 30px;
        }
        .wishlist_cards {
            justify-content: center;
        }
        
    }   

    
    /* mobile */

    @media only screen

    and (max-width: 900px) {

        .wrapper{
            max-width: 375px;
            padding: 10px 20px;
            margin: 0 auto;
            
            
        }

        .menu_full{
            display: none;
        }

        .ms_l_side .menu_title{
            display: block;
        }

        .menu{
            display: none;
        }


        .navigation{
            display: none;
        }

        .line{
            display: none;
        }

        .main_screen{
            flex-direction: column;
            padding: 0;
            margin: 0 0 126px 0;
        }
        
        .ms_l_side{
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            background: none;
            
        }

        .ms_pic{
            width: 60px;
            height: 60px;
            margin: 0;

            flex-shrink: 0;
        }

        .ms_title{
            font-size: 50px;
            line-height: 80px;
        }

        .ms_text{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 40px;
        }

        .ms_r_side{
            margin-top: 60px;
        }

        .ms_counter {
            justify-content: flex-start;
            
        }

        .ms_conter_b1 {
            width: 278px;
            height: 278px;
            margin: 0;
        }

        .ms_counter_title{
            font-size: 16px;
            line-height: 22px;
            margin: 105px 72px 0 72px;
            padding: 0;
        }

        .ms_counter_date{
            
            font-size: 24px;
            line-height: 38px;
            
        }

        .content_block{
            /*padding-left: 0;
            padding-right: 0;*/
            padding: 0;
        }

        .title{
            font-size: 30px;
            line-height: 48px;
            margin: 0 6px;
        }

        
        .small_circle_title{
            margin: 0 6px;
            
        
        }
        
        .big_circle_title{
            margin: 0 6px;
            width: 48px;
            height: 48px;
        
        
        }



        .footer{
            padding-left: 0;
            padding-right: 0;  
        }


        .cards_container{
            display: flex;
            justify-content: center;
        }
        

        .card_item{
            width: 335px;
            height: 330px;
        }

        .card_pic_box{
            width: 275px;
            height: 200px;  
        }

        .card_item:hover .card_pic_box{
            width: 333px;
            height: 230px;
            /*object-fit: cover;*/
           
         }

        .bb_card{
            width: 335px;
            height: 80px;
            margin: 10px 0;
            padding: 0;
            display: flex;
            align-items: center;
        }
        

        .bb_card_pic{
            width: 80px;
            height: 80px;
            margin: 0;
            margin-right: 16px;

        }
        .card_item:hover{
            padding: 0;
        }

        .card_item:hover .pic{
            border: 1px solid transparent;
            border-radius: 6px;
        }

        .card_item:hover .bb_card_text{
            color: #FFFFFF;
        }
        
        .card_item:hover .bb_card_pic{
            width: 80px;
            height: 80px;
            margin: 0;
        }

        
    } 
