    /* mobile */

    @media only screen

    and (max-width: 1350px) {

.cards_container{
    padding: 0 70px;
    flex-wrap: wrap;  
    justify-content: space-around;  
}

.card_item{
    margin-bottom: 30px;
}
}
