/* Подключаем шрифт baloo 2, extra bold 800 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

/* Подключаем шрифт ninito, regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.content_block{
    width: 100%;
    margin: 100px 0 0 0;
    padding: 59px 81px 0;
    
}

.content_title{
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0 15px;
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
}

.db_title{
    color: #FC6A57;
}

.small_circle_title{
    margin: 0 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF5F5;
    mix-blend-mode: multiply;

}

.big_circle_title{
    margin: 0 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFF5F5;
    mix-blend-mode: multiply

}

.cards_container{
    display: flex;
    justify-content: space-between;
}

.card_item{
    width: 386px;
    height: 330px;
    border: 1px solid transparent;
    border-radius: 6px;    
    padding: 30px 30px 40px 30px;
    position: relative;
}

.db_card{
    
    background-color: #FFF5F5;
}

.card_pic_box{
    width: 326px;
    height: 200px;  
}

.pic{
   width: 100%;
   height: 100%;
   object-fit: cover;
   
}

.card_text{   
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
}

.db_card_text{
    color: #FC6A57;
}

.marker{
    display: none;
}

.card_item:hover{
    border: 1px solid #FC6A57;
    background-color: #FC6A57; 
    padding: 0 0 40px 0;
}

.card_item:hover .card_text{
   
    color: #FFFFFF;
}

.card_item:hover .card_pic_box{
   width: 384px;
   height: 230px;
   /*object-fit: cover;*/
  
}
.card_item:hover .pic{
    border: 1px solid transparent;
    border-radius: 6px 6px 0 0;
}


.card_item:hover .marker{
    display: block;
    width: 32px;
    position: absolute;
    top: 30px;
    left: 28px;
}
